* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

div {
    height: 500px;
    width: 320px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
}

img {
    height: 280px;
    width: 280px;
    margin-top: 20px;
    border-radius: 0.8rem;
}

h2 {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: rgb(51, 51, 51);
}

p {
    margin: 0 20px 0 20px;
    color: hsl(216, 15%, 48%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}